div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    box-shadow:
    0 0 1px 1px rgb(29 17 51 / 4%),
    0 0 3px 2px rgb(9 32 77 / 12%),
    0 0 2px -3px rgb(29 17 51 / 12%);
}
div.searchBar {
    width: 70%;
}

form.searchForm {
    display: flex;
    width: 65%;
    height: 100%;
}

input.search {
    display: block;
    margin: auto;
    margin-right: 0;
    background: #f2f2f2;
    width: 80%;
    height: 45px;
    position: relative;
    color: black;
    box-shadow: 0 0 3px #868686;
    border: 0;
    padding-left: 2%;
    border-radius: 3px;
}

input.search:focus {
    box-shadow: 0 0 3px #474747;
    outline: none;
    background: #f8f8f8;
    border-radius: 3px;
}

button.searchButton {
    margin: auto;
    margin-left: 0;
    height: 47px;
    width: 47px;
    background-color: #616161;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 3px #868686;
}

button.searchButton:hover {
    background-color: #6e6e6e;
    box-shadow: 0 0 3px #474747;
    cursor: pointer;
}

button.searchButton:active {
    background-color: #666666;
    box-shadow: 0 0 3px #474747;
    cursor: pointer;
}

div.searchButtonDiv {
    margin: auto;
    width: 30px;
    height: 30px;
    position: relative;
}