div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 64px;
    width: 100%;
    background-color: white;
    box-shadow:
    0 0 1px 1px rgb(29 17 51 / 4%),
    0 0 3px 2px rgb(9 32 77 / 12%),
    0 0 2px -3px rgb(29 17 51 / 12%);
}

div.logo {
    margin: auto;
    width: 200px;
    height: 70%;
    position: relative;
}

div.searchButton {
    margin: 5px;
    width: 30px;
    height: 30px;
    position: relative;
}

div.searchBar {
    width: 70%;
}

form.searchForm {
    display: flex;
    width: 70%;
    height: 100%;
}

input.search {
    display: block;
    margin: auto;
    margin-right: 0;
    background: #f2f2f2;
    width: 80%;
    height: 70%;
    position: relative;
    color: black;
}